header {
    div {
        span {
            color: red;
        }
    }
}

ul {
    li {
        margin: 5px;
        padding: 5px;
        text-transform: uppercase;
    }
}

.roW {
    display: flex;
    justify-content: center;
}

.coL {
    display: flex;
}

.bg_jumbotron {
    background-image: url('../images/jumbotron.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}